<div class="container-fluid hundi_hd clearfix">
	<div class="container">
		<div class="col-xs-12">
			eHundi Offering <span>ehundi is exclusively offer for donations only</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-sm-12 cnt">
		<nav class="side_nav">
			<ul class="col-sm-12 log_info" ng-if = "bdc.pageDetails.isLoggedIn === true ">
				<li class="col-sm-3 text-center gap-rt-none gap-lt-5">
					<img src="content/img/user.png" alt="user" class="img-responsive img-circle dis-inline" >
				</li>
				<li class="col-sm-9 text-center-xs gap-lt-5"  >
					<strong>Ramarao</strong><span class="small text-muted">Your Last Login</span><span class="small text-muted">10:00 AM JUNE 2nd 2015</span>
					<div class="clearfix row user-options">
						<div class="col-xs-6 settings">
							Settings
						</div>
						<div class="col-xs-6 logout">
							Logout
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav">
				<li>
					<a  href="#" class="eSpecial">eSpecial Entry Darshan</a>
				</li>
				<li>
					<a href="#" class="eSudarshanam">eSudarshanam</a>
				</li>
				<li>
					<a href="#" class="eSeva">eSeva</a>
				</li>
				<li>
					<a  href="#" class="EAccommodation">EAccommodation</a>
				</li>
				<li>
					<a href="#" class="eDonation">eDonation</a>
				</li>
				<li>
					<a href="#" class="eHundi">eHundi</a>
				</li>
				<li>
					<a href="#" class="eSaptagiri">eSaptagiri Magzine</a>
				</li>
				<li>
					<a href="#" class="Booking">Booking History</a>
				</li>
			</ul>
		</nav>
		
		<!-- user form -->
		<div class="col-md-12  col-xs-12 usrinfo_cnt formmargin">
			<h5 class="col-sm-12 pay clearfix">User Registration</h5>
			<form role="form" name="userForm" id="userForm"
			ng-submit="ehc.continueSubmit(userForm.$valid)" novalidate>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.fName"
					name="fName" ng-maxlength="80" ng-pattern="/^[a-zA-Z]*$/" required ng-change="ehc.fNameChanged()"/>
					<label class="control-label" for="inputLarge">First Name<sup
						class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.fName.$dirty && userForm.fName.$invalid)"> <span ng-show="userForm.fName.$error.required ">This field
								cannot be empty.</span> <span
							ng-show="userForm.fName.$error.maxlength || userForm.fName.$error.pattern">Please
								enter valid Name</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.mName"
					name="mName" ng-maxlength="80" ng-pattern="/^[a-zA-Z]*$/" required />
					<label class="control-label" for="inputLarge">Middle Name</label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.mName.$dirty && userForm.mName.$invalid)"> <span
							ng-show="userForm.mName.$error.maxlength || userForm.mName.$error.pattern">Please
								enter valid Name</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.lName"
					name="lName" ng-maxlength="80" ng-pattern="/^[a-zA-Z]*$/" required />
					<label class="control-label" for="inputLarge">Last
						Name/Surname</label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.lName.$dirty && userForm.lName.$invalid)"> <span ng-show="userForm.lName.$error.required">This field
								cannot be empty.</span> <span
							ng-show="userForm.lName.$error.maxlength || userForm.lName.$error.pattern">Please
								enter valid Name.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="email" class="form-control" ng-model="ehc.pageDetails.fom.emailId"
					name="emailId" ng-maxlength="30"
					ng-pattern="/^[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" required />
					<label
					class="control-label" for="inputLarge">Email Address<sup
						class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.emailId.$dirty && userForm.emailId.$invalid)"> <span ng-show="userForm.emailId.$error.required">This
								field cannot be empty.</span> <span
							ng-show="userForm.emailId.$error.pattern">Please enter a
								valid Email Address.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.mobNo"
					name="mobNo" ng-minlength="12" ng-maxlength="12"
					ng-pattern="/^\d*$/" required />
					<label class="control-label"
					for="inputLarge">Mobile Number<sup class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.mobNo.$dirty && userForm.mobNo.$invalid)"> <span ng-show="userForm.mobNo.$error.required">This field
								cannot be empty.</span> <span
							ng-show="userForm.mobNo.$error.minlength || userForm.mobNo.$error.maxlength || userForm.mobNo.$error.pattern">Please
								enter valid Mobile Number.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.phNo"
					name="phNo" ng-minlength="12" ng-maxlength="12"
					ng-pattern="/^\d*$/" required />
					<label class="control-label"
					for="inputLarge">Phone Number</label>
					<div class="help-block err">
						<span ng-show="userForm.phNo.$dirty && userForm.phNo.$invalid"> <span
							ng-show="userForm.phNo.$error.pattern || userForm.phNo.$error.maxlength ||userForm.phNo.$error.minlength">Please
								enter valid Phone Number.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.address1"
					name="address1" ng-maxlength="30"
					ng-pattern="/^[0-9a-zA-Z #,-\.\/]+$/" required />
					<label
					class="control-label" for="inputLarge">Address Line1<sup
						class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.address1.$dirty && userForm.address1.$invalid)"> <span ng-show="userForm.address1.$error.required">This
								field cannot be empty.</span> <span
							ng-show="userForm.address1.$error.pattern">Please enter a
								valid Address.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.address2"
					name="address2" ng-maxlength="30"
					ng-pattern="/^[0-9a-zA-Z #,-\.\/]+$/" required />
					<label
					class="control-label" for="inputLarge">Address Line2</label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.address2.$dirty && userForm.address2.$invalid)"> <span ng-show="userForm.address2.$error.pattern">Please
								enter a valid address.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.city"
					name="cityS" ng-maxlength="30"
					ng-pattern="/^([a-zA-Z]+|[a-zA-Z]+\s[a-zA-Z]+)$/" required />
					<label
					class="control-label" for="inputLarge">City<sup
						class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.cityS.$dirty && userForm.cityS.$invalid)"> <span ng-show="userForm.cityS.$error.required">This field
								cannot be empty.</span> <span ng-show="userForm.cityS.$error.pattern">Please
								enter a valid city</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<select name="countryS" class="form-control"
					ng-model="ehc.pageDetails.fom.country"
					ng-options="cnt.id as cnt.country_name for cnt in ehc.pageDetails.countries"
					ng-change="ehc.onCountryChange()" required>
						<!-- <option class="control-label" for="inputLarge">Country</option> -->
						<option class="control-label" value=""> Country<sup class="text-danger">*</sup></option>
					</select>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.countryS.$dirty && userForm.countryS.$invalid)"></span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<select name="statesS" class="form-control" ng-model="ehc.pageDetails.fom.state"
					ng-options="st.id as st.state_name for st in ehc.pageDetails.states" required>
						<option class="control-label" value=""> State<sup class="text-danger" style="color:#cd00000">*</sup></option>
					</select>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.stateS.$dirty && userForm.stateS.$invalid)"></span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.zipCode"
					name="zipCode" ng-maxlength="10" ng-minlength="10"
					ng-pattern="/^\d*$/" required />
					<label class="control-label"
					for="inputLarge">Zip/Pincode</label>
					<div class="help-block err">
						<span
						ng-show="userForm.zipCode.$dirty && userForm.zipCode.$invalid"> <span
							ng-show="userForm.zipCode.$error.maxlength || userForm.zipCode.$error.pattern || userForm.zipCode.$error.minlength">Please enter valid Zipcode. </span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="number" class="form-control" ng-model="ehc.pageDetails.fom.amount"
					name="amountS" min="11" max="999999" required />
					<label
					class="control-label" for="inputLarge">Amount<sup
						class="text-danger">*</sup></label>
					<div class="help-block err">
						<span
						ng-show="submitted  || (userForm.amountS.$dirty && userForm.amountS.$invalid)"> <span ng-show="userForm.amountS.$error.required">This
								field cannot be empty.</span> <span
							ng-show="userForm.amountS.$error.min || userForm.amountS.$error.max">Amount
								should be between 11 and 999999 digits only.</span> </span>
					</div>
				</div>
				<div class="form-group styled-input col-md-4 col-xs-12">
					<input type="text" class="form-control" ng-model="ehc.pageDetails.fom.behalf"
					name="behalfS" ng-maxlength="50" ng-pattern="/^[A-Za-z ]*$/"
					required />
					<label class="control-label" for="inputLarge">On
						Behalf of</label>
					<div class="help-block err">
						<span
						ng-show="userForm.behalfS.$dirty && userForm.behalfS.$invalid"> <span
							ng-show="userForm.behalfS.$error.pattern">Please enter valid name for behalf of.</span> </span>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-12 col-xs-12 text-right btn_cnt">
			<button class="btn" ng-click ="ehc.onReset(userForm);submitted=false">
				Reset
			</button>
			<button class="btn btn-act" ng-click="ehc.continueSubmit(userForm);submitted=true">
				Continue
			</button>
		</div>
	</div>
</div>