
<div class="container-fluid hundi_hd clearfix menu-bar">
	<div class="container">
		<!-- <div class="col-xs-12"> eHundi Offering <span>ehundi is exclusively offer for donations only</span> </div> -->
		<div class="scroller scroller-left">
			<i class="glyphicon glyphicon-chevron-left"></i>
		</div>
		<div class="scroller scroller-right">
			<i class="glyphicon glyphicon-chevron-right"></i>
		</div>
		<div class="wrapper">
			<ul class="nav nav-tabs list" id="myTab">
				<li class="active">
					<a href="#home">eSpecial Entry</a>
				</li>
				<li>
					<a href="#profile">eSeva</a>
				</li>
				<li>
					<a href="#messages">eAccommodation</a>
				</li>
				<li>
					<a href="#settings">eSudarsanam</a>
				</li>
				<li>
					<a href="#">eHundi</a>
				</li>
				<li>
					<a href="#">eDonation</a>
				</li>
				<li>
					<a href="#">Saptagiri Magazine</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-sm-12 cnt">
		<nav class="side_nav">
			<ul class="col-sm-12 log_info" ng-if = "bdc.pageDetails.isLoggedIn === false ">
				<li class="col-sm-3 text-center gap-rt-none gap-lt-5">
					<img src="content/img/user.png" alt="user" class="img-responsive img-circle dis-inline" >
				</li>
				<li class="col-sm-9 text-center-xs gap-lt-5">
					<strong>Ramarao</strong><span class="small text-muted">Your Last Login</span><span class="small text-muted">10:00 AM JUNE 2nd 2015</span>
					<div class="clearfix row user-options">
						<div class="col-xs-6 settings">
							Settings
						</div>
						<div class="col-xs-6 logout">
							Logout
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav">
				<li>
					<a  href="#" class="eSpecial">eSpecial Entry Darshan</a>
				</li>
				<li>
					<a href="#" class="eSudarshanam">eSudarshanam</a>
				</li>
				<li>
					<a href="#" class="eSeva">eSeva</a>
				</li>
				<li>
					<a  href="#" class="EAccommodation">EAccommodation</a>
				</li>
				<li>
					<a href="#" class="eDonation">eDonation</a>
				</li>
				<li>
					<a href="#" class="eHundi">eHundi</a>
				</li>
				<li>
					<a href="#" class="eSaptagiri">eSaptagiri Magzine</a>
				</li>
				<li>
					<a href="#" class="Booking">Booking History</a>
				</li>
			</ul>
		</nav>
		<script>
			$('.menu').click(function() {
				if($('.side_nav').css("right") == "-284px") {
					$('.cnt').css('overflow', 'visible');
					$('.side_nav').animate({
						right : "-5px"
					});

				} else {
					$('.cnt').css('overflow', 'hidden');
					$('.side_nav').animate({
						right : "-284px"
					});

				}
				$('.side_nav').css('top', -$('.hundi_hd').outerHeight());
			});

		</script>
				<h5 class="col-sm-12 pay clearfix"> eHundi Transaction Status </h5>
				<div class="col-md-12 trsns_status text-center">
					<strong>Your Payment can not be process now.Please try after some time.</strong>
				</div>
				
<div class="col-md-12 col-xs-12 text-right btn_cnt">
					<button class="btn" ng-click="ehpfc.pageData.goToOfferHundi()">
						Offer a eHundi
					</button>
					<button class="btn" ng-click="ehpfc.pageData.goToHistory()">
						Transaction History
					</button>
				</div>
			</div>
			
		</div>
	

