/*
 html5doctor.com Reset Stylesheet
 v1.6.1
 Last Updated: 2010-09-17
 Author: Richard Clark - http://richclarkdesign.com
 Twitter: @rich_clark
 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html, body{overflow-x:hidden;}
body {
	line-height: 1;
	font-size: 12px;
	background: #f2ae1d;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
.hundi_hd {
	padding: 16px 0 17px;
	background: #a3000e;
	color: #fff;
	font-size: 20px;
}
.hundi_logotxt {
	position: relative;
	top: 30px;
	font-size: 20px;
	color: #a3000e;
}
.hundi_logotxt > span {
	display: block;
}
header nav {
	height: 107px;
}
/*header .nav, .nav > li > a:hover {
	background: #e19a04;
}*/
header .nav li {
	float: left;
	color: #a3000e;
}
header .nav li > a {
	color: #a3000e;
	text-transform: uppercase;
	padding-left: 35px;
}
header .nav li > a:before {
	content: url("../img/queries.png");
	left: 5px;
	position: absolute;
	top: 0;
}
header .nav li:nth-child(3) > a:before {
	content: url("../img/contact.png");
}
header .nav li:last-child > a:before {
	content: url("../img/help.png");
}
.divider {
	position: relative;
	top: 8px;
}
/*header .nav > li > a.last {
	padding-right: 0;
}*/
.menu {
	background: #fffee6;
    border-radius: 0 35px 1px 28px;
    bottom: 0;
    /*box-shadow: 0 0 1px #fff;*/
    color: #fff;
    font-size: 14px;
    height: 36px;
    position: absolute;
    right: 10px;
    width: 254px;
}
.menu > img {
	margin: 0 20px 0 0;
}
.menu > div {
	background: #8e0502;
	height: 36px;
	line-height: 36px;
	border-radius: 0px 32px 1px 28px;
	/*box-shadow: 0px 0px 2px #fff;*/
}
.hundi_hd span {
	font-size: 14px;
}
.cnt {
	min-height: 600px;
	background: #fff;
	padding: 15px;
}
.usrinfo_cnt {
	background: #fefbd5;
	padding: 12px 10px; border:1px solid #ffb400;
	/*margin: 0 0 10px 0;*/
}
.formmargin{padding:0; display:inline-block}
.usrinfo_cnt figure {
	/*background: #fff;
	border-radius: 8px;
	padding: 4px 10px;*/
	float: left;
	position: relative;
	z-index: 1;
}
.usrinfo_cnt figure img {
	border-radius: 50%; 
	box-shadow: 0 0 8px #fff;
}
/*
.pay {
	padding: 10px 15px;
	background: #ffba28;
}
*/
.name {
	font-size: 20px;
	padding: 6px 0 4px;
	border-bottom: 1px dashed #a30004;
	margin-bottom: 10px;
}
.usrinfo_cnt span {
	font-size: 14px;
}
form {
	/*min-height: 300px;*/
}
label {
	color: #9199a2;
}
.form-control {
	border-radius: 0;
}
button.btn {
	border-radius: 0;
	min-width: 102px;
	background: #787575;
	color: #fff;
	margin-left: 8px;
}
button.btn-act, button:hover {
	background: #a30004;
	color: #fff !important;
}
.cnt_inr {
	margin-top: 20px;
	min-height: 300px;
}
.ackw_info > span {
	display: block;
	padding-bottom: 8px;
}
.modal-content {
	top: 80px;
}
.side_nav {
	position: absolute;
	width: 280px;
	z-index: 999;
	top: 0;
	right: -284px;
	min-height: 500px;
	background-color: #fffee6;
	padding: 20px 0;
	box-shadow: 0 0 8px #666;
}
.side_nav .nav {
	float: left;
	width: 100%;
}
.side_nav li a {
	color: #132024;
	border-bottom: 1px dotted #cecece;
	padding: 15px 15px 15px 45px;
}
.side_nav li a:before{
	content: url("../img/eacc.png");
	left: 5px;
	position: absolute;
	top: 0;
}
.side_nav li a.eSpecial:before{
	content: url("../img/espe1.png");
}
.side_nav li a.eSpecial:hover:before{
	content: url("../img/espe2.png");
}
.side_nav li a.eSudarshanam:before{
	content: url("../img/esudar.png");
}
.side_nav li a.eSudarshanam:hover:before{
	content: url("../img/esudar2.png");
}
.side_nav li a.eSeva:before{
	content: url("../img/eseva.png");
}
.side_nav li a.eSeva:hover:before{
	content: url("../img/eseva2.png");
}
.side_nav li a.EAccommodation:before{
	content: url("../img/eacc.png");
}
.side_nav li a.EAccommodation:hover:before{
	content: url("../img/eacc2.png");
}
.side_nav li a.eDonation:before{
	content: url("../img/edon.png");
}
.side_nav li a.eDonation:hover:before{
	content: url("../img/edon2.png");
}
.side_nav li a.eHundi:before{
	content: url("../img/ehun.png");
}
.side_nav li a.eHundi:hover:before{
	content: url("../img/ehun2.png");
}
.side_nav li a.eSaptagiri:before{
	content: url("../img/mag.png");
}
.side_nav li a.eSaptagiri:hover:before{
	content: url("../img/mag2.png");
}
.side_nav li a.Booking:before{
	content: url("../img/his.png");
}
.side_nav li a.Booking:hover:before{
	content: url("../img/his2.png");
}
.side_nav li a:hover {
	background: #a30004; color:#fff;
}
.side_nav li:last-child a {
	border-bottom: 0;
}
.cnt {
	overflow: hidden;
}
.pay_details {
	margin-top: 10px;
}
.pay_details span {
	display: block;
}
.pay_details strong {
	font-size: 20px;
	padding-top: 6px;
	display: block;
}
.err {
	color: red;
	margin-bottom: 0px;
}
/* yyy */
.hd_txt1 span, .hd_txt1 {
	font-size: 16px;
	color: orange !important;
	font-style: italic;
}
.ackw_details span {
	padding-bottom: 10px;
}
.hd_txt1 > span, .acknw .col-md-12 span, .ackw_details span {
	display: block;
}
.acknw span, .acknw p, .acknw h3 {
	color: #7D7B7B;
	line-height: 24px;
}
.acknw p {
	line-height: 30px;
}
.acknw p {
	margin-top: 16px;
}
.acknw {
	margin-top: 40px;
}
.acknw_hd {
	width: 308px;
	margin: 0 0 20px;
	overflow: hidden;
}
.hd_txt1 {
	position: relative;
	top: 10px;
	margin-left: 8px;
}
.donate .form-group {
	position: relative;
}
.scheme {
	position: absolute;
	right: -254px;
	top: 12px;
}
.modal-header {
	background: #A90D0D;
	color: #fff;
	padding: 10px;
}
.close {
	color: #fff;
	opacity: 1;
}
.modal-dialog {
	/*width: 900px;*/
	width:90%;
}
.modal-body {
	line-height: 24px;
	/*min-height: 500px;*/
	display:inline-block;
}
.modal-body p b {
	color: #A90D0D;
}
.frm_inr {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	list-style: none;
}
.frm_inr li input, .frm_inr li select {
	margin-bottom: 10px;
}
.user_hd {
	background-color: #E0DCDC;
	padding: 10px 0;
}
.pay_frm {
	margin-top: 20px;
}
.bdr0 {
	border: 0;
}
.trsns_status {
	min-height: 200px;
	padding: 20px 0;
}
.trsns_status strong {
	margin-top: 80px;
	display: block;
}
input[type="radio"] {
	position: relative;
	width: 30px;
	height: 30px;
	top: 10px;
	border-radius: 15px;
	border: 2px solid #f2ae1d;
	font-size: 16px;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-moz-appearance: none;
	-moz-tap-highlight-color: transparent;
}
input[type="radio"]:checked {
	border: 2px solid #f2ae1d;
	padding: 4px;
	background: #f2ae1d;
	background-clip: content-box;
}
.mtop_60 {
	margin: 20px 0;
}
p {
	font-size: 14px;
	line-height: 26px;
}
.menu img {
	cursor: pointer;
}
/* */
.log_info {
	padding: 0;
	color: #A3000E;
}
.log_info li:nth-child(2) strong {
	font-size: 20px;
	padding-bottom: 10px;
	display: block;
}
.log_info li span {
	padding-bottom: 6px;
	display: block;
	font-size: 12px;
}
.log_info li span.small{font-size: 10px;}
.log_info li {
	padding-bottom: 10px;
	font-size: 14px;
}
.btn_cnt {
	/*
	position: absolute;
	bottom: 20px;
	right: 0px;
	*/
}
.btn_cnt button:last-child{margin-right:-15px;}
.form-group {
	position: relative;
	margin-top: 25px;
}
/* input effect */
form input:focus ~ label {
	position: absolute;
	top: -28px;
	
	-webkit-transition: all 0.125s ease;
	transition: all 0.125s ease;
}
form label {
	padding: 1rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	pointer-events: none;
}
.hundi_logotxt {
	background: url("../img/TTD-Logo.png") no-repeat scroll 0 0 / 117px auto rgba(0, 0, 0, 0);
	height: 104px;
	padding-left: 110px;
	padding-top: 30px;
	position: static;
}
.gap-lt-none {
	padding-left: 0;
}
.gap-rt-none {
	padding-right: 0;
}
.dis-inline{display:inline}
.gap-lt-5{padding-left: 5px;}
.gap-lt-10{padding-left: 10px;}
.personal-details span{padding-left: 35px; margin-bottom:10px;}
.personal-details span:before{
	left: 5px;
	position: absolute;
	top: -10px;}
	.personal-details span.phone:before{content: url("../img/phone.png");}
	.personal-details span.email:before{content: url("../img/mail.png");}
	.personal-details span.address:before{content: url("../img/location.png");}
	.settings, .logout{padding-left:30px; margin-top:10px;}
	.settings:before, .logout:before{
	left: -2px;
	position: absolute;
	top: -14px;}
	.settings:before{content: url("../img/setting.png");}
	.logout:before{content: url("../img/logout.png");}
.usrinfo_cnt figure{position:absolute;}
.usrinfo_cnt > section{padding-left: 88px;width: 100%;}
h5, .h5{font-size:16px}
/*floated labels */
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
 font-size: 14px;
 font-weight:normal; color:#333;

 top: -2.25rem;
 -webkit-transition: all 0.125s ease;
 transition: all 0.125s ease;
}

.styled-input {
 
  margin: 2rem 0 1rem;
  position: relative;
}

.styled-input label {

  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { width: 100%; }

input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%; font-weight:normal;
}

input ~ span,
textarea ~ span {
	/*
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
  */
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
/*floated labels*/

.table > thead > tr > th {
    border-bottom: 0;
    vertical-align: bottom;
	
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
border-top:1px solid #febb18;
}
.table {border:1px solid #febb18;}
.table tr th,.table tr td{background-color:#fff}
.table th{font-size:15px; font-weight:normal}
.usrinfo_cnt strong{font-weight:normal}
.History-Acc h5{position:relative; cursor:pointer; margin:0; padding:10px 15px;}
.History-Acc h5:after{content:''; font-size:18px; color:#000; position:absolute; right:10px; top:10px; font-weight: bold;}
.History-Acc h5.collapsed:after{content:url(../img/add.png);font-weight: normal;font-size:15px; top:7px; right:6px;}

.menu-bar{padding: 0;}
.wrapper {
    position:relative;
    overflow:hidden;
  	height:50px;
}
.list {
    position:absolute;
    left:0px;
    top:3px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
    border:none;
}
.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}
.list li > a{padding:8px 0 !important; border-radius:4px; margin: 0 15px; font-size:14px; color:#fff; }
.list li.active > a{border-radius:0; background:none; color:#f2ae1d; border-color:transparent;}
.list li > a:hover, .list li.active > a:hover,  .list li > a:focus{background: none !important; border-color:transparent; color:#f2ae1d}
.list li.active > a:hover{color:#f2ae1d;}
.list li, .list li:hover{margin:0 !important}
.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
}
.list li.active > a:after, .list li > a:hover:after{content:''; width:100%; height:1px; display:inline-block; background:#fff; position:absolute; bottom:0;left:0;}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}
.rwd-tabs{display:none;}
