<header class="container">
	<div class="row clearfix">
		<figure class="col-md-6 col-sm-6 col-xs-12 clearfix">
			<img src="content/img/logo.png" alt="logo" class="img-responsive"/>
		</figure>
		<nav class="col-md-6  col-xs-12 col-sm-6  clearfix">
			<ul class="nav pull-right row">
				<li>
					<a href="#">Queries</a>
				</li>
				<li class="divider">
					|
				</li>
				<li>
					<a href="#">Contactus</a>
				</li>
				<li class="divider">
					|
				</li>
				<li>
					<a href="#" class="last">Help</a>
				</li>
			</ul>
			<div class="menu">
				<div class="col-xs-9">
					eHundi
				</div>
				<img src="content/img/menu.png" class="pull-right"/>
			</div>
		</nav>
	</div>
</header>